
@{
    ViewBag.Title = "PersonalInfo";
}

<h2>PersonalInfo</h2>

<div>
    <div class="col-md-3">
        Photo<br />
        <img src="/Content/defaultphoto.jpg" alt="Здесь должна быть картинка" height="300" width="300" style="border:double">
        Name:
        <b>@ViewBag.Name</b>
        University:
        <b>@ViewBag.University</b>
        Faculty:
        <b>@ViewBag.Faculty</b>
        Department:
        <b>@ViewBag.Department</b>
        City:
        <b>@ViewBag.City</b>
        Role:
        <b>@ViewBag.Role</b>
    </div>
</div>